{% extends 'base.html' %}
{% block links %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'webapp:create_photo' %}">Создать
                фото</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'webapp:create_album' %}">Создать
                альбом</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}

    <h2>{{ user_obj.first_name }} {{ user_obj.last_name }}</h2>

    {% if request.user.is_authenticated %}
        {% if user_obj == request.user %}
            <a href="{% url 'accounts:favorites' user_obj.pk %}">Избранное</a>
        {% endif %}
    {% endif %}

    <h3 class="mb-3 mt-3">Альбомы</h3>
    {% for album in albums %}
        <a href="{% url 'webapp:album_detail' album.pk %}">{{ album.name }}</a>
    {% empty %}
        <p>Альбомы не найдены</p>
    {% endfor %}

    <h3 class="mb-3 mt-3">Фотографии</h3>

    {% include 'partial/photos_list_partial.html' %}

{% endblock %}