{% extends "base.html" %}
{% block links %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'webapp:create_photo' %}">Создать
                фото</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'webapp:create_album' %}">Создать
                альбом</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <h3>Вы действительно хотите удалить альбом {{ album.name }}?</h3>
        <input type="submit" class="btn btn-danger" value="Да">
        <a href="{% url 'webapp:photos' %}" class="btn btn-primary">Нет</a>
    </form>
{% endblock %}